<footer>
    <p>©Alif Suryadi | 2023</p>
</footer>



</body>

<script>
function toggleTextDecoration(checkbox) {
    const paragraph = checkbox.nextElementSibling;
    if (checkbox.checked) {
        paragraph.style.textDecoration = "line-through";
    } else {
        paragraph.style.textDecoration = "none";
    }
}
</script>

</html>