<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todolist</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/nav.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Libre+Baskerville&family=PT+Serif&family=Roboto+Slab&family=Work+Sans:wght@600&display=swap" rel="stylesheet">
</head>

<body>

    <div class="container">
        <!-- Nav -->
        <section class="nav" id="nav">
            <div class="list">
                <ul class="navbar">
                    <li><a href="/">Today</a></li>
                    <li><a href="/work">Work</a></li>
                </ul>
            </div>
        </section>
 