<%- include("partials/header.ejs")  %>

<!-- Content -->
<section class="content" id="content">
    <div class="box">
        <h1>Work List</h1>
    </div>

</section>

<!-- Todolist -->
<section class="todolist" id="todolist">

    <% tasksWork.forEach((taskWork) => { %>
        <div class="item">
            <input type="checkbox" onchange="toggleTextDecoration(this)">
            <p> <%= taskWork %> </p>
        </div>
    <% }); %>
    
      
    <div class="item">
        <form  action="/work" method="POST">
            <input type="text" name="newListWork" placeholder="New List">
            <button value="submit" name="list"></button>
        </form>
    </div>

</section>

</div>

<%- include("partials/footer.ejs")  %>